.chat-main
  .chat-main__group-info
    .chat-main__group-nameANDmember
      .chat-main__group-name
        test
      .chat-main__group-member
        Menber:Taro, Jiro
    .chat-main__edit
      = link_to "#", class: "chat-main__edit-btn" do
        Edit

  .chat-main__message-list
    .chat-main__message-name1
      Taro
    .chat-main__message-contentANDtime1
      .chat-main__message-content1
        Hello!!
      .chat-main__message-time1
        2020/06/13/18:00

    .chat-main__message-name2
      Jiro
    .chat-main__message-contentANDtime2
      .chat-main__message-content2
        Hey, bro!!
      .chat-main__message-time2
        2020/06/13/18:00

  .chat-main__message-form
    .chat-main__message-space
      .chat-main__type-a-message
        %input.message-input-text{:name => "text", :placeholder => "type a message", :type => "text", :value => ""}
      .chat-main__image-select
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file", class: "file-select"}

    .chat-main__send-btn
      %button{type: "submit", class:"send-btn"} 
        .send-btn-letter
          send

  

